# ngs-workflow-reference_genomes

A Snakemake workflow to download various files from Ensembl for a given reference genome and create a STAR aligner index.

Files downloaded include:
- Reference FASTA files
- Gene annotations in GTF format
- VCF files of pathogenic variants (human only)

- Species: {{ species }}
